.foto {
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
}

li {
    display: inline;
    display: inline-block;
    line-height: 64px;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #001f64;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}